.duration {
  min-height: 50%;
  font-size: 100px;
  color: red;
  text-align: center;
  cursor: pointer;
}

.local {
  min-height: 50%;
  font-size: 100px;
  color: greenyellow;
  text-align: center;
  cursor: pointer;
}

.remote {
  min-height: 50%;
  font-size: 100px;
  color: darkblue;
  text-align: center;
  cursor: pointer;
}

.radios {
  min-height: 10%;
  font-size: 24px;
  color: darkblue;
  text-align: center;
  cursor: pointer;
}

.stats {
  min-height: 10%;
  font-size: 24px;
  color: darkblue;
  text-align: left;
  cursor: pointer;
}

.message {
  min-height: 50%;
  font-size: 24px;
  color: darkblue;
  text-align: center;
}

table {
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

td {
  padding: 10px;
}